body{
    background-color: #A1E1E1;
}

button{
    background-color:#e89fc7;
    border-radius: 5px;
    border-color: white;
    font-size: large;
    margin: 1vw;
    padding: 1vh;
    color: white;
    font-family: Lobster;
}

#display{
    /* background-image: url("https://static.vecteezy.com/system/resources/previews/000/100/954/non_2x/free-bakery-vector.png"); */
    background-image: url("https://img.elo7.com.br/product/original/2CFBF2D/painel-sublimado-ursinho-panda-fundo-verde-bambu-300x170mt.jpg");
    background-size: contain;
    background-position: right;
    margin-right: 10vw;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 15vw, 85vw;
    grid-template-areas: "p b";
    font-family: Lobster;
    color: #e89fc7;
}

#player-info{
    grid-area: p;
    display: grid;
    width: 15vw;
    align-content: center;
    justify-content: center;
    text-justify: center;
    font-size: xx-large;
}

#board-display{
    grid-area: b;
    height: 96vh;
    /* width: 85vw; */

    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    justify-content: center;
    align-content: center;
}

.box{
    display: grid;
    width: 8vw;
    height: 10vh;
    border-color: white;
    border-style: dotted;
    border-width: 1px;
    justify-content: center;
    align-content: center;
    font-size: xx-large;
}